PORT=4000
MONGO_URI=mongodb://usuario:contraseña@ac-hftxgtp-shard-00-00.zgtvefl.mongodb.net:27017,ac-hftxgtp-shard-00-01.zgtvefl.mongodb.net:27017,ac-hftxgtp-shard-00-02.zgtvefl.mongodb.net:27017/?ssl=true&replicaSet=atlas-g591yf-shard-0&authSource=admin&appName=iudigital